
<div class="wrapper">
    <h1>About Cinemania</h1>
    <p>Welcome to CINEMANIA, where every film becomes an experience.
        More than just a place to watch movies, our cinema is a space where stories come to life. Whether you’re here for the latest blockbusters, timeless classics, indie gems, or family favorites we’re dedicated to delivering the ultimate moviegoing experience.</p>
    
    <h2>Features</h2>
    <ul>
        <li>Browse and search movies by various criteria</li>
        <li>View detailed movie information</li>
        <li>Make ticket reservations</li>
        <li>Manage user profile</li>
        <li>Track reservation history</li>
        <li>Rate watched movies</li>
    </ul>
    
    <h2>Technology Stack</h2>
    <ul>
        <li>Angular 19</li>
        <li>Angular Material</li>
        <li>TypeScript</li>
        <li>HTML/CSS</li>
        <li>Axios for HTTP requests</li>
    </ul>
    
    <div class="footer">
        <p>© 2025 Cinemania. All rights reserved.</p>
        <p>Project by: Nikola & Jovan</p>
    </div>
</div>
